networks:
  evnet:
    name: evnet


volumes:
  pg_auction: {}
  pg_wishlist: {}
  pg_catalog: {}
  pg_identity: {}
  pg_complaint: {}
  pg_rating: {}
  pg_notification: {}
  rabbitmq_data:
    driver: local


services:
  catalog-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${CATALOG_DB_USER}
      POSTGRES_PASSWORD: ${CATALOG_DB_PASSWORD}
      POSTGRES_DB: ${CATALOG_DB_NAME}
    ports: ["5434:5432"]               # connect từ host nếu cần
    volumes:
      - pg_catalog:/var/lib/postgresql/data
    networks: [evnet]

  catalog-api:
    build:
      context: .
      dockerfile: src/catalog-service/Catalog.API/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Identity__InternalKey: internal-system-secret-xyz
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__Default: "Host=catalog-db;Port=5432;Database=${CATALOG_DB_NAME};Username=${CATALOG_DB_USER};Password=${CATALOG_DB_PASSWORD}"
    depends_on:
      - catalog-db
    ports:
      - "8102:8080"                    # bypass Kong
    networks:
      evnet:
        aliases:
          - catalog-api                # alias DNS ổn định trong mạng
    restart: unless-stopped            # nếu lỡ crash thì tự lên lại

  identity-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${IDENTITY_DB_USER}
      POSTGRES_PASSWORD: ${IDENTITY_DB_PASSWORD}
      POSTGRES_DB: ${IDENTITY_DB_NAME}
    ports:
      - "5435:5432"   # để connect từ host
    volumes:
      - pg_identity:/var/lib/postgresql/data
    networks: [evnet]

  identity-api:
    build:
      context: .
      dockerfile: src/identity-service/Identity.API/Dockerfile
    expose:
      - "8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      InternalApiKey: internal-system-secret-xyz
      JwtSystem__Issuer: InternalSystem
      JwtSystem__Audience: EVSSystem
      JwtSystem__SigningKey: this_is_signing_key_system_123456789_abc
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__Default: "Host=identity-db;Port=5432;Database=${IDENTITY_DB_NAME};Username=${IDENTITY_DB_USER};Password=${IDENTITY_DB_PASSWORD}"
    depends_on:
      - identity-db
    ports:
      - "8103:8080"   # bypass Kong, test trực tiếp
    networks: [evnet]
    restart: unless-stopped

  complaint-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${COMPLAINT_DB_USER}
      POSTGRES_PASSWORD: ${COMPLAINT_DB_PASSWORD}
      POSTGRES_DB: ${COMPLAINT_DB_NAME}
    ports:
      - "5436:5432"   # để connect từ host
    volumes:
      - pg_complaint:/var/lib/postgresql/data
    networks: [evnet]
  complaint-api:
    build:
      context: .
      dockerfile: src/complaint-service/Complaints.API/Dockerfile
    expose:
      - "8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Identity__InternalKey: internal-system-secret-xyz
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__Default: "Host=complaint-db;Port=5432;Database=${COMPLAINT_DB_NAME};Username=${COMPLAINT_DB_USER};Password=${COMPLAINT_DB_PASSWORD}"
    depends_on:
      - complaint-db
    ports:
      - "8105:8080"   # bypass Kong, test trực tiếp
    networks: [evnet]
    restart: unless-stopped

  rating-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${RATING_DB_USER}
      POSTGRES_PASSWORD: ${RATING_DB_PASSWORD}
      POSTGRES_DB: ${RATING_DB_NAME}
    ports:
      - "5437:5432"   # để connect từ host
    volumes:
      - pg_rating:/var/lib/postgresql/data
    networks: [evnet]
  rating-api:
    build:
      context: .
      dockerfile: src/rating-service/Rating.API/Dockerfile
    expose:
      - "8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Identity__InternalKey: internal-system-secret-xyz
      Identity__BaseUrl: http://identity-api:8080 
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__Default: "Host=rating-db;Port=5432;Database=${RATING_DB_NAME};Username=${RATING_DB_USER};Password=${RATING_DB_PASSWORD}"
    depends_on:
      - rating-db
    ports:
      - "8106:8080"   # bypass Kong, test trực tiếp
    networks: [evnet]
    restart: unless-stopped
  

  notification-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${NOTIFICATION_DB_USER}
      POSTGRES_PASSWORD: ${NOTIFICATION_DB_PASSWORD}
      POSTGRES_DB: ${NOTIFICATION_DB_NAME}
    ports:
      - "5438:5432"   # để connect từ host
    volumes:
      - pg_notification:/var/lib/postgresql/data
    networks: [evnet]

  notification-api:
    build:
      context: .
      dockerfile: src/notification-service/NotificationService.API/Dockerfile
    expose:
      - "8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__Default: "Host=notification-db;Port=5432;Database=${NOTIFICATION_DB_NAME};Username=${NOTIFICATION_DB_USER};Password=${NOTIFICATION_DB_PASSWORD}"
    depends_on:
      rabbitmq:
        condition: service_healthy
      notification-db:
        condition: service_started
    ports:
      - "8107:8080"   # bypass Kong, test trực tiếp
    networks: [evnet]
    restart: unless-stopped

    
  auction-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${AUCTION_DB_USER}
      POSTGRES_PASSWORD: ${AUCTION_DB_PASSWORD}
      POSTGRES_DB: ${AUCTION_DB_NAME}
    ports:
      - "5440:5432"
    volumes:
      - pg_auction:/var/lib/postgresql/data
    networks: [evnet]

  auction-api:
    build:
      context: .
      dockerfile: src/auction-service/Auction.API/Dockerfile
    environment:
      ASPNETCORE_URLS: http://+:8080
      ASPNETCORE_ENVIRONMENT: Development
      Identity__InternalKey: internal-system-secret-xyz
      ConnectionStrings__Default: "Host=auction-db;Port=5432;Database=${AUCTION_DB_NAME};Username=${AUCTION_DB_USER};Password=${AUCTION_DB_PASSWORD}"
    depends_on:
      - auction-db
    ports:
      - "8111:8080"   # test trực tiếp
    networks:
      evnet:
        aliases:
          - auction-api
    restart: unless-stopped

  wishlist-db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${WISHLIST_DB_USER}
      POSTGRES_PASSWORD: ${WISHLIST_DB_PASSWORD}
      POSTGRES_DB: ${WISHLIST_DB_NAME}
    ports:
      - "5441:5432"
    volumes:
      - pg_wishlist:/var/lib/postgresql/data
    networks: [evnet]

  wishlist-api:
    build:
      context: .
      dockerfile: src/wishlist-service/Wishlist.API/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Identity__InternalKey: internal-system-secret-xyz
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__Default: "Host=wishlist-db;Port=5432;Database=${WISHLIST_DB_NAME};Username=${WISHLIST_DB_USER};Password=${WISHLIST_DB_PASSWORD}"
    depends_on:
      - wishlist-db
    ports:
      - "8110:8080"   # test trực tiếp
    networks:
      evnet:
        aliases:
          - wishlist-api
    restart: unless-stopped

  kong:
    image: kong:3.7
    container_name: kong
    volumes:
      - ./deploy/kong/kong.yaml:/usr/local/kong/declarative/kong.yaml:ro
      - ./logs:/tmp
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yaml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
    ports:
      - "8000:8000"   # Gateway
      - "8001:8001"   # Admin API
    depends_on:
      - catalog-api
      - complaint-api
      - identity-api
      - rating-api
      - notification-api
      - auction-api
      - wishlist-api
    networks:
      evnet:
        aliases:
          - kong
  konga:
    image: pantsel/konga:latest
    restart: unless-stopped
    ports:
      - "1337:1337"
    environment:
      NODE_ENV: production
    networks:
      evnet:
        aliases:
          - konga
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ev_user
      RABBITMQ_DEFAULT_PASS: ev_pass_very_secret
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq     # mount dữ liệu ra volume
    networks: [evnet]
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5